.contact {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

.contact-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 3rem 20px;
}

.contact-title h2 {
  color: var(--light-text-color);
  font-size: var(--headline-men-size);
}

.contact-title p {
  font-size: var(--description-size);
}

.contact-links {
  margin: 30px 0;
}

.contact-icon {
  padding: 10px;
  margin: 10px;
  transition: all 0.3s ease;
}

.contact-icon:hover {
  fill: var(--dark-blue-color);
}
