.navbar {
  width: 100%;
  height: 44px;
  background: var(--nav-background);
  color: var(--nav-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0;
  backdrop-filter: saturate(180%) blur(9px);
  transition: all 0.5s ease;
}

.navbar.open {
  background: #000;
}

.navbar-container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.navbar-logo {
  margin-left: 15px;
}

.navbar-logo svg {
  width: 26px;
  padding: 5px 0;
  fill: var(--nav-color);
}

.navbar-logo:hover svg {
  fill: var(--nav-color-hover);
}

.navbar-logodescription {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navbar-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-btn {
  width: 26px;
  height: 26px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.nav-btn__burger {
  width: 20px;
  height: 1.5px;
  background: var(--nav-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.nav-btn__burger::after,
.nav-btn__burger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1.5px;
  background: var(--nav-color);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-btn__burger::after {
  transform: translateY(6px);
}

.nav-btn__burger::before {
  transform: translateY(-6px);
}

/* BTN ANIMATION */

.nav-btn.open .nav-btn__burger {
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
}

.nav-btn.open .nav-btn__burger::before {
  transform: rotate(45deg) translate(20px, -20px);
}

.nav-btn.open .nav-btn__burger::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.nav-links ul a {
  color: var(--nav-color);
  padding: 5px 20px;
  font-size: var(--text-size);
  opacity: 0.9;
}

.nav-links ul a:hover {
  color: var(--nav-color-hover);
  opacity: 1;
}

@media screen and (min-width: 800px) {
  .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .nav-links {
    position: absolute;
    top: 44px;
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .navbar.open .nav-links {
    height: 100vh;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    padding: 0px 40px;
  }

  .nav-links ul::before {
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 5px;
    height: 1px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background: rgb(66, 66, 69);
  }

  .nav-links ul a {
    padding: 10px 0px;
    font-size: var(--description-size);
    width: 100%;
    color: var(--nav-color);
    opacity: 0.8;
  }

  .nav-links ul a:hover {
    color: #fff;
    opacity: 1;
  }

  .nav-links ul li {
    position: relative;
    padding: 10px;
    padding-left: 0px;
  }

  .nav-links ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 5px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: rgb(66, 66, 69);
  }
}
