.skills {
  background: #000;
  text-align: center;
  padding: 4rem 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills-title h2 {
  color: var(--dark-text-color);
  font-size: var(--headline-men-size);
}

.skills-title p {
  color: var(--gray-color);
  font-size: var(--description-size);
}

.skills-tables {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.skills-table {
  margin: 30px 0 100px;
  width: 100%;
}

.skills-table__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-table__type h3 {
  font-size: var(--description-size);
  font-weight: 500;
  color: var(--dark-blue-color);
}

.skills-table__type h4 {
  font-size: calc(var(--description-size) - 0.1rem);
  font-weight: 500;
  color: var(--dark-blue-color);
}

.skills-table__table ul {
  list-style-type: none;
}

.skills-table__table li {
  margin: 30px 0;
  font-size: 1.4rem;
  color: var(--dark-text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.skills-table__table li::after {
  content: "";
  height: 4px;
  position: absolute;
  width: 100%;
  background: var(--dark-blue-color);
  bottom: -15px;
  left: 0;
}

.skills-table__table .ability {
  color: var(--medium-gray-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

.skills-table__table li:hover .ability {
  color: #fff;
}
