@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Pacifico&display=swap");

/* Font Montserrat */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

/* Font Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("./assets/fonts/Raleway.ttf");
}

/* Colors */

:root {
  --gray-color: #2c2c2c;
  --light-gray-color: #474747;
  --blue-color: #3f6cfe;
  --dark-blue-color: #0d64e7;
  --background-dark-color: #071231;
  --background-color: #ece9e6;
  --light-color: #fff;
  --middle-gradient-color: #f5f4f3;
}
/* General Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* Body */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--light-color),
    var(--background-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--light-color),
    var(--background-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}
