.portfolio {
  margin: 3rem 0;
  text-align: center;
}

.portfolio-title h2 {
  color: var(--light-text-color);
  font-size: var(--headline-men-size);
}

.portfolio-title p {
  font-size: var(--description-size);
}

.portfolio-grid {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.portfolio-card {
  width: 100%;
  overflow: hidden;
  background: #fafafa;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  border-radius: 20px;
  color: var(--light-text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolio-card:nth-child(2n) {
  background: #f1f1f3;
}

.card-image {
  margin-top: 0px;
  width: 100%;
  position: relative;
  height: 300px;
}

.card-image img {
  position: absolute;
  height: 100%;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
}

.card-description {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: flex-start;
}

.card-title {
  font-weight: 700;
  font-size: 2rem;
}

.card-text {
  margin: 10px 0;
  height: 70px;
  font-size: var(--description-size);
  color: var(--gray-color);
}

.card-techs {
  padding: 5px;
  color: var(--medium-gray-color);
  border-radius: 2px;
}

.card-techs span {
  margin: 10px;
  font-weight: 600;
  display: block;
}

.card-cta {
  margin-top: 20px;
}

.card-cta a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  color: var(--light-blue-color);
  position: relative;
}

.card-cta a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 2px;
  width: 0%;
  transition: all 0.5s ease;
  background: var(--light-blue-color);
}

.card-cta a:hover::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 2px;
  width: 40%;
  transform: translate(-50%, 0);
  background: var(--light-blue-color);
}

@media screen and (max-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}

@media screen and (max-width: 745px) {
  .card-image img {
    height: auto;
    max-height: 300px;
    max-width: 90%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .card-image {
    max-height: 250px;
  }
  .card-image img {
    width: 100%;
    bottom: 0;
    height: auto;
  }
  .card-description {
    padding: 10px;
  }

  .card-techs {
    padding: 3px;
    font-size: 0.8rem;
  }

  .card-techs span {
    margin-right: 3px;
  }

  .card-cta a {
    display: block;
  }
}
